<h1>Aufgabe 1</h1>
<div class="Bild">
  <img src="\assets\images\W2_A1.png" alt="" />
</div>

<div class="Aufgabentext">
  Euch fällt neben dem Kasten ein zweistelliges Zahlenschloss auf. Darauf ist
  eine Figur zu sehen. Schnell seht ihr, dass ihr herausfinden sollt wie viele
  Dreiecke in der Figur versteckt sind.
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>Es gibt kleine, mittlere und große Dreiecke.</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>Die Anzahl der großen und mittleren ist gleich.</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>Es sind 8 kleine, 4 mittlere und 4 große Dreiecke.</p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
