<div class="navbar">
  <h2>Mathematisches Escapegame</h2>
  <div
    class="menu-button"
    (click)="togglemenu()"
    [ngClass]="{ open: menuOpen }"
  >
    <div class="stripe stripeTop"></div>
    <div class="stripe stripeMid"></div>
    <div class="stripe stripeBottom"></div>
  </div>
</div>
<div class="Navliste" [ngClass]="{ open: menuOpen }">
  <a routerLink="/" id="home"> Home </a>
  <a routerLink="/spielregeln" id="Spielregeln"> Spielregeln </a>
  <a routerLink="/spiel-beitreten" id="Spiel beitreten"> Spiel beitreten </a>
  <a routerLink="/lehrer-panel" id="Lehrer-Panel"> Lehrer-Panel </a>
  <a routerLink="/einfuehrung-lehrer" id="Einführung Lehrer">
    Einführung Lehrer
  </a>
</div>
