<div class="aufgabenContainer">
  <audio controls src="\assets\aufnahmenTessa\2_P-Sem_Spiel_3.m4a"></audio>

  <div id="text">
    Da weit und breit nichts, außer dem Bauernhof zu sehen ist bewegt ihr euch
    auf dem Schotterweg in diese Richtung. Beim Laufen denkt ihr weiter über den
    See nach. Was könnte es bedeuten? Wie kann euch ein See nach Hause bringen?
    Am Bauernhof angekommen, klingelt ihr an der Tür. Euch wird von einer alten
    Dame mit dreckigen und kaputten Klamotten aufgemacht. Ihr fragt höflich, ob
    sie einen See in der Nähe kennt. Die Frau antwortet: „Nein! Hier in der
    Umgebung gibt es leider keine Seen. Das Einzige was mir dazu einfällt ist
    eine kleine Kneipe in der Stadt: Zum blauen See. Lauft diesen Weg noch 20km
    herunter“. Ihr erinnert euch zurück an das Schild: Der Hintergrund war blau!
    Das muss es sein! Gerade wollt ihr gehen, da fragt die Frau: „Bekomme ich
    keine Gegenleistung für diese Information?“. Ihr dreht euch um und
    entgegnet: „Was denn für eine Gegenleistung, wir haben doch gar nichts“.
    “Das macht nichts”, entgegnete sie, “Ihr könnt auch für mich berechnen, wie
    viele Drachen auf meinem Hof sind. Ich habe eine ganze Herde!“
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a3aufgabe2"
    ></app-navigation-story>
  </div>
</div>
