<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Mit der Sauerstofflasche und etwas Proviant, den ihr auf der Lichtung
    gefunden habt, begebt ihr euch weiter auf die Suche nach einem Heimweg. Ihr
    überquert steinige Täler und Hügel und kommt immer mal wieder an einzelnen
    kleinen bewachsenen Orten vorbei. Die Flugtiere fliegen alle wild in der
    Gegend umher und machen den Anschein, als ob sie flüchten wollen, die
    Landtiere, die noch leben, sehen sehr abgemagert aus und leiden stark unter
    dem Sauerstoffmangel. Ihr müsst die Flasche häufig tauschen und auffüllen
    und so wird euch trotz dessen die Reise erschwert. Plötzlich ertönt ein
    Knall und aus der Flasche entschwindet Gas. Die Flasche ist kaputt, ihr
    steht wieder ohne zusätzlichen Sauerstoff da und die Zeit rennt euch davon.
    Als ihr gerade überlegt, ob ihr wieder umdreht und zurück zur Lichtung geht
    oder die Suche ohne Sauerstoff fortsetzt sieht einer von euch wie sich ein
    kleiner Vogel wenige Meter neben euch durch einen dünnen Spalt hinter einem
    großen quadratischen Stein durchschiebt und scheinbar eine Höhle betritt.
    Ihr wollt ihm folgen doch der Spalt ist zu klein, ihr passt nicht hindurch.
    Allerdings erinnert ihr euch was in der Ruine an der Wand stand: Die
    geometrische Form von Dingen kann durch bestimmte mathematische Formeln
    verändert werden. Um in die Höhle hineinzugelangen, müsst ihr den
    quadratischen Stein in eine Kugel verändern, damit dieser wegrollt und der
    Eingang frei ist.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a2aufgabe3"
    ></app-navigation-story>
  </div>
</div>
