<h1>Aufgabe 5</h1>
<div class="Bild">
  <img src="\assets\Beispiel.jpg" alt="" />
</div>

<div class="Aufgabentext">
  Um jeden Tisch standen zuvor vier Stühle, jetzt sind es aneinandergereiht drei
  Tische, die überschüssigen Stühle wurden zu einem neuen Tisch gestellt. Doch
  wie viele haben Platz am Tisch? Wie viele Stühle bleiben dann übrig? Berechne
  mithilfe eines allgemeinen selbst aufgestellten Term (x= Tische; am
  Anfang/Ende der Tischreihe steht kein Stuhl).
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Die Anzahl der Tische muss mit der Anzahl der Stühle, die wegfallen,
      multipliziert werden.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>Es fallen immer zwei Stühle pro Tisch weg</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>
      Plätze am Tisch: p = x*(4-2) = 3*2 = 6 <br />Übrige Stühle: s = x*(4-2) =
      3*2 = 6
    </p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
