<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Ihr öffnet eure Augen und könnt nicht fassen was ihr seht. Der Himmel
    leuchtet gelb und riesige Wesen fliegen durch die Luft, der Boden, auf dem
    ihr euch befindet, ist steinig und unbewachsen, aber ihr seht in einiger
    Entfernung eine Lichtung mit bunten Bäumen und einem Teich. Auf dem Weg
    dorthin fällt euch nach wenigen Minuten auf, dass ihr schwer atmet und euch
    nicht genügend Sauerstoff zur Verfügung steht. Als ihr bei eurem Ziel
    ankommt und aus dem Teich getrunken habt, findet ihr eine kleine Ruine. In
    der Hoffnung dort Hinweise zu finden, wir ihr nach Hause kommt betretet ihr
    diese. An den Wänden seht ihr Texte in Menschenschrift verfasst. Einer davon
    gibt euch einen Hinweis darauf, dass in diesem Universum die geometrische
    Form von Dingen mit Hilfe von bestimmten mathematischen Formeln verändert
    werden kann. Im Keller angelangt findet ihr endlich etwas Nützliches: ein
    Schrank voller Sauerstofflaschen. An diesem Schrank ist ein Schild
    befestigt, vermutlich vom alten Besitzer des Hauses. Dem Text des Schildes
    könnt ihr entnehmen, dass dieser den Schrank verschlossen hat, um ihn vor
    Räubern zu bewahren und man ihn nur durch das Lösen eines Rätsels öffnen
    kann.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a2aufgabe1"
    ></app-navigation-story>
  </div>
</div>
