audio {
  border-radius: none;
  margin-bottom: 1rem;
}
img {
  max-width: 35rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 1rem;
  button {
    width: 15%;
    border-style: none;
    padding: 0.5rem;
  }
}

.navigation-wrapper {
  width: 100%;
}
