<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Ihr habt das Rätsel der Frau mit Bravour gelöst. Zu eurer Überraschung
    bekommt ihr noch eine Anleitung. “Damit könnt ihr ein Auto in der Stadt
    lenken, wenn ihr eines leiht! Ich gebe euch dieses auch ohne Gegenleistung,
    wirklich!” Das klingt ja cool, ihr wolltet schon immer mal ein echtes Auto
    fahren! Und als ihr im Gebüsch auch noch ein kleines, altes Auto findet,
    befreit ihr dieses aus dem Gebüsch mit Efeu und anderen Pflanzen. So fahrt
    ihr damit los. In der Stadt angekommen parkt ihr das Auto. Zu eurem Pech
    wurde eure Aktion von zwei Polizisten beobachtet, die das als gestohlen
    gemeldete Auto erkennen und ihr werdet mit aufs Revier genommen. Aber ihr
    wollt euch wehren und rennt weg. Ihr werdet verfolgt, aber ihr könnt nach
    einiger Zeit etwas Vorsprung aufbauen. Ihr bekommt die Idee euch bei
    jemandem zuhause zu verstecken.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-aufgaben
      [showNextButton]="true"
      link="/a3aufgabe3"
    ></app-navigation-aufgaben>
  </div>
</div>
