<h1>Aufgabe 5</h1>
<div class="Bild">
  <img src="\assets\Beispiel.jpg" alt="" />
</div>

<div class="Aufgabentext">
  Ihr habt 1ml Cola mit einer Konzentration von 10%. Wie viel Wasser müsst ihr
  hinzugeben um eine 1 prozentige Lösung zu erhalten?
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Das Produkt aus Ausgangvolumen und Ausgangkonzentration muss das selbe
      ergeben wie das Produkt aus Endvolumen und Endkonzentration.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>
      Das Endvolumen ist die Summe aus dem Ausgangvolumen 1ml und einer
      unbekannten Menge an Wasser x. E = (1+x)
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>Stellt folgende Gleichung auf: 1 × 0,1 = (1+x) × 0,01</p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
