<h1>Aufgabe 4</h1>
<div class="Bild">
  <img src="\assets\Beispiel.jpg" alt="" />
</div>

<div class="Aufgabentext">
  Auf dem Revier werdet ihr einzeln befragt. Die Polizisten möchten wissen wer
  das Auto geparkt und gestohlen hat. Wenn alle von euch schweigen, wird euch je
  eine Strafe von 100€ auferlegt. Verrät eine Person die andere(n) Person,
  müssen die Verratenen eine Strafe von 400€ bezahlen und der Verräter kommt
  ohne Strafe davon. Wenn sich allerdings alle Personen gegenseitig verraten,
  müssen sie alle 400 € bezahlen. Eure Mitspieler hatten keine Gelegenheit sich
  abzuspre-chen. Sie wissen, dass am Ende das gesamte Team für ihre Strafe
  aufkommen wird und möchten des-halb ihre gesamte Strafzahlung so gering wie
  möglich halten. Wie viel müsst ihr Zahlen, wenn sich alle richtig verhalten?
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Überlegt euch welche Möglichkeiten bestehen und wieviel Geld ihr bei jeder
      bezahlen müsstet.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>Es gibt 3 Möglickeiten.</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>
      Wenn sich die beiden nicht verraten müssen sie zusammen 200 € (jeder 100
      €) bezahlen.<br />
      Wenn einer den anderen verrät und dieser den anderen nicht müssen sie 0€ +
      400 € also 400 € bezahlen.<br />
      Wenn sie sich aus Versehen beide verraten, zahlen sie 800 €. Somit sollten
      sich die beiden Mitspieler nicht verraten! = 200€ Strafe
    </p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
