<p>s1teil1 works!</p>
<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Alles schwirrt umher und so kommt ihr in die neue Parallelwelt. Aber siehe,
    was ist denn da? Das seid doch ihr?! Diese Menschen sehen genauso aus wie
    ihr, und oh nein! Sie fliegen durch die Luft, in eine undefinierbare
    Richtung, auf einer undefinierbaren Bahn, auf einer undefinierbaren Weise…
    Und sie verschwinden, mitten im schwarzen Himmel. Immer wieder fliegen hier
    Menschen und Gegenstände auf dieser Weise fort. Was ist denn nur los? Mit
    dieser Welt läuft irgendetwas schief… Versteckt euch schnell im Gebäude,
    bevor auch ihr wegfliegt! Am Eingang sitzt ein alter Herr: „Und ihr seid
    auch von der Schlaukopf-Schule für Mathematik?“ Mathe? Wer geht denn schon
    auf eine Mathe-Schule, ist doch langweilig! Aber das kann euch jetzt
    wirklich nicht interessieren, denn da fliegt schon wieder ein Mann weg, mit
    seinem Auto! Nur im Gebäude seid ihr sicher. Also meint ihr „Ja!“. „Haha,
    Mitschüler, dann nennt mal das Motto unserer Schule! Um wie viel wiegt das
    Lachen mehr als die Liebe?“ Was? Lachen, mehr wiegen, Liebe? Quatsch mit
    Soße! Zum Glück muss der Wärter ans Telefon, ihr könnt euch also Zeit zum
    Überlegen lassen. Und siehe, da taucht schon eine Hilfestellung auf, im
    Gebäude steht eine Waage, die ausgeglichen steht, darüber befindet sich die
    Aufschrift: „Das Lieben ist nicht schwer und wiegt nicht viel, nur 1 g. Aber
    Lachen… Schaue selbst……“ Wer auch immer dieses Motto erfunden hat, der hat
    nicht mehr alle Tassen im Schrank. Egal, hauptsache ihr werdet nicht vom
    Wind weggeweht, also beeilt euch, bevor das Telefonat noch endet!
  </div>
  <div class="navigation-wrapper">
    <app-navigation-aufgaben
      [showNextButton]="true"
      link="/a1aufgabe1"
    ></app-navigation-aufgaben>
  </div>
</div>
