<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Ihr habt die richtige Anzahl an Dreiecken gefunden und habt dadurch Zugang
    zu den Sauerstoffflaschen erhalten. Es ist nur noch die größte Flasche
    vorhanden, die anderen beiden wurden wohl von anderen Personen bereits
    mitgenommen. Zudem ordnete sich ursprünglich zu jeder Flasche eine Sanduhr
    zu. Ihr bemerkt, dass die größte Sanduhr fehlt. Gerade wollt ihr etwas Luft
    einatmen da fällt euch auf, dass die Flasche nicht voll ist. An der Rückwand
    des Kastens hängt eine Anleitung zum Auffüllen.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-aufgaben
      [showNextButton]="true"
      link="/a2aufgabe2"
    ></app-navigation-aufgaben>
  </div>
</div>
