.seite {
  padding: 4rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.border {
  border-radius: 0.3rem;
  background: rgb(89, 89, 89, 0.9);
  color: rgb(255, 255, 255);
  padding: 3rem 10%;
  width: 50%;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 3rem;
}
.text {
  text-align: center;
  line-height: 2.5rem;
}
body {
  background-image: url('../../assets/images/WebsiteBackground.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navigation {
  display: flex;
  justify-content: space-around;
  button {
    width: 15%;
    color: white;
    border-style: none;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
  }
}
