<div class="aufgabenContainer">
  <h2>Aufgabe 3</h2>
  <p id="text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia porro
    incidunt, sapiente quasi nulla voluptate aut modi accusamus ipsa, eaque
    maxime quaerat ex. Repellendus commodi excepturi soluta fugiat, repellat
    voluptatem.
  </p>
  <div>
    <div class="row">
      <input id="0" type="radio" name="i" />
      <label for="1">Option 1</label>
    </div>
    <div class="row">
      <input id="1" type="radio" name="i" />
      <label for="2">Option 2</label>
    </div>
    <div class="row">
      <input id="2" type="radio" name="i" />
      <label for="3">Option 3</label>
    </div>
    <div class="row">
      <input id="3" type="radio" name="i" />
      <label for="4">Option 4</label>
    </div>
  </div>

  <!----
    Checkbox für mehrere Richtige Antwortmöglichkeiten 
    <div>
    <div class="row">
      <input id="0" type="checkbox" name="i" />
      <label for="1">Option 1</label>
    </div>
    <div class="row">
      <input id="1" type="checkbox" name="i" />
      <label for="2">Option 2</label>
    </div>
    <div class="row">
      <input id="2" type="checkbox" name="i" />
      <label for="3">Option 3</label>
    </div>
    <div class="row">
      <input id="3" type="checkbox" name="i" />
      <label for="4">Option 4</label>
    </div>
  </div>
    ---->

  <button (click)="pruefen()">Prüfen</button>
</div>
