.row {
  display: flex;
  margin-top: 0.5rem;

  input {
    margin: 0;
    margin-right: 0.4rem;
  }
}

#text {
  background-color: #eceff4;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: justify;
}
