<div class="aufgabenContainer">
  <audio controls src="\assets\aufnahmenTessa\6_P-Sem_Spiel_3.mp3"></audio>

  <div id="text">
    Da ihr das Rätsel gelöst habt, dürft ihr etwas bestellen. Da es auf der
    Karte nur ein Getränk gibt, bestellt ihr alle den Rewind-Drink. Der Name
    macht euch schon etwas Hoffnung auf einen Ausweg aus dieser Parallelwelt.
    Die Kellnerin bringt jedem von euch ein pechschwarzen Drink. Mit
    Angstschweiß auf dem ganzen Körper trinkt ihr alle gleichzeitig einen
    Schluck des Getränks. Mit einem Schwung reißt euch ein heftiger Sturm mit
    durch die Vergangenheit: Ihr erlebt alles, was ihr an diesem Tag erlebt habt
    nochmal rückwärts in 10-facher Geschwindigkeit und landet in einem Portal.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/spiel-beitreten"
    ></app-navigation-story>
  </div>
</div>
