<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor
    nesciunt accusantium unde harum dolorem, voluptatum quasi minima? Vel
    maiores, enim labore beatae facere culpa magnam veniam optio quos alias?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo blanditiis
    harum, culpa exercitationem et similique cupiditate quidem nulla a sunt
    sapiente facere hic voluptatum id, aperiam repellendus, impedit obcaecati.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, est at
    expedita, necessitatibus id dolorum sequi hic optio, nihil commodi odio ex
    dignissimos consequuntur aliquam harum adipisci obcaecati nobis nemo? Lorem
    ipsum, dolor sit amet consectetur adipisicing elit. Deserunt maiores, quod
    voluptatum dolorem magnam blanditiis! Consequatur debitis nobis numquam
    animi, illum nesciunt atque eaque magni sint quia, saepe assumenda id. Lorem
    ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit architecto
    perferendis fugiat delectus maxime dolor error, cupiditate ab vero nam
    provident eveniet quisquam quod unde ducimus asperiores, in maiores
    quibusdam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta
    in distinctio voluptatibus magnam expedita earum mollitia voluptatem rem ab
    quaerat, aliquid sit minima corporis nam eveniet repellendus eius error
    soluta? Teil 2
  </div>
  <div class="navigation-wrapper">
    <app-navigation-aufgaben
      [showNextButton]="true"
      link="/a3aufgabe6"
    ></app-navigation-aufgaben>
  </div>
</div>
