<div class="Aufgabentext">
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
  voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
  gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweis" [ngClass]="getClasses(0)">Hinweis 1</div>
<div class="hinweis" [ngClass]="getClasses(1)">Hinweis 2</div>
<div class="hinweis" [ngClass]="getClasses(2)">Hinweis 3</div>
