<div class="aufgabenContainer">
  <audio controls src="\assets\aufnahmenTessa\3_P-Sem_Spiel_1.m4a"></audio>

  <div id="text">
    Endlich werdet ihr reingelassen, gut geschmuggelt! Doch als ihr euch gerade
    erholen wolltet, bemerkt ihr eine Gefahr: Da kommt ein Schüler, ein echter
    Schüler in Mathe-Uniform! Versteckt euch lieber bevor ihr auffliegt oder...
    Zu spät, ihr seid aufgeflogen: „Wer seid ihr, ich kenne euch ja gar nicht!“
    „Ja, wir sind Schüler, wer bist denn du eigentlich?“, mit dieser Gegenfrage
    erhofft ihr, euch aus der Situation zu retten. „Ich bin Franz Schlaumeier,
    der Schülersprecher. Und ihr?“ „Wir sind…“ „Seid ihr Einbrecher? Oder
    Spione?“ „Wir sind deine Mitschüler, kennst du uns nicht mehr? Wir können es
    sogar beweisen, wir kennen das Schulmotto!“ „Pah, das weiß wirklich jeder in
    dieser Stadt! Aber wenn ihr so schlau seid und diese Aufgabe rechnen könnt,
    dann seid ihr gewiss meine Mitschüler.“ Franz wirkt wirklich unhöflich und
    arrogant, aber dagegen kann man gerade nichts tun. „Ihr müsst mein Alter
    erraten, ich sage dazu nur: In 6 Jahren passiert ein Wunder! Da ist Mama
    genau 3-mal so alt wie ich, und Oma genau 9-mal. Die Summe des Alters von
    uns 3 ist dann genau 25987. Das kann ich sogar im Kopf ausrechnen! Könnt ihr
    auch so gut rechnen?“
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a1aufgabe2"
    ></app-navigation-story>
  </div>
</div>
