<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Geschafft, keine Sorgen mehr, rausgeschmissen zu werden. Aber Franz scheint
    enttäuscht zu sein. Hm! Eitler Angeber, er kann doch bestimmt nicht mal
    richtig rechnen, lacht ihr heimlich. Als Rache müsst ihr ihn ärgern! Also
    bestehlt ihr ihn und klaut seine Hausaufgaben, dadurch kriegt er bestimmt
    Ärger!!! Als ihr euch schon freut, ihn in Panik zu sehen, erblickt ihr die
    Aufschrift auf dem Heft. Dieses ist gar kein Schulheft, sondern ein
    Tagebuch?! Neugierig blickt ihr rein: Wie ist wohl das Leben eines Angebers?
    Enttäuscht merkt ihr, dass das Buch noch neu ist und gar nichts drinnen
    steht. Na ja, fast gar nichts… Da ist ein komischer Plan der Schule und eine
    Erzählung. Ihr folgt der Karte und findet ein Schließfach, leider mit
    Passwort versehen. Zum Glück habt ihr Franz Aufzeichnungen: „Das Passwort
    vom Fach besteht aus 2 Ziffern und ist nach dem Muster XYXY aufgebaut. Y ist
    dabei doppelt so groß wie X. Und die Quersumme des Codes ist das 12fache der
    kleinsten Primzahl.“
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a1aufgabe3"
    ></app-navigation-story>
  </div>
</div>
