<h1>Aufgabe 3</h1>
<div class="Bild">
  <img src="" alt="" />
</div>

<div class="Aufgabentext">
  Dieser möchte das Risiko, Diebe bei sich aufzunehmen, aber lieber nicht
  eingehen. Deswegen verlangt er von euch Geld: Ein Eintritt in das sichere Haus
  wird euch nur garantiert, wenn ihr pro a Personen x Euro bezahlt. Zusätzlich
  müsst ihr für b Taschen, wo eure Wertsachen sind, y Euro zahlen. Für c Handys,
  die ihr dabei habt, müsst ihr noch zusätzlich z Euro zahlen. Ihr seid 3
  Personen und habt 3,5 Handys dabei (ein Handy ist kaputt und zählt nur halb).
  Eine Tasche mitnehmen kostet 10 Euro. Stellt einen Term mit möglichst wenigen
  Variablen auf, damit der Hauswirt die Kosten schneller berechnen kann!
  (Hinweis: Der Term muss in der Reihenfolge, wie im Text angegeben werden und
  die Anzahl muss vor dem Betrag stehen.)<br />
  Stellt einen Term mit möglichst wenigen Variablen auf, damit der Hauswirt die
  Kosten schneller berechnen kann! (Hinweis: Der Term muss in der Reihenfolge,
  wie im Text angegeben werden und die Anzahl muss vor dem Betrag stehen.)
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />

  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Die einzelnen Teile, die bezahlt werden müssen, müssen addiert werden.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>Grundform: ax + by + cz</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>Kosten = 3x + 10b + 3,5z</p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
