<h1>Aufgabe 2</h1>
<div class="Bild">
  <img src="\assets\images\W2_A2.png" alt="" />
</div>

<div class="Aufgabentext">
  Ihr habt ein Problem, wie könnt ihr die Flasche exakt 9 Minuten am Hahn lassen
  und die Zeit dabei stoppen. Überlegt euch wie ihr vorgehen müsst und gebt an
  wie oft ihr die Kleine Sanduhr und wie oft ihr die große Sanduhr drehen müsst.
</div>
<div class="Eingabe">
  <input
    type="text"
    [(ngModel)]="inputWertSmall"
    placeholder="Anzahl kleine Sanduhr"
  />
  <input
    type="text"
    [(ngModel)]="inputWertBig"
    placeholder="Anzahl große Sanduhr"
  />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>Beide Sanduhren werden zu Beginn gedreht.</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>
      Ihr kommt mit der kleinen Sanduhr auf 8 Minuten. Nun braucht ihr noch eine
      Minute: Baut dafür die große Sanduhr mit ein.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>
      Beide Sanduhren werden umgedreht. Nach 4 Minuten wird die kleine erneut
      umgedreht. Nach sieben Minuten wird die große wieder gedreht. Nach 8
      Minuten braucht ihr die Kleine nicht mehr. Die große dagegen ist jetzt
      eine Minute gelaufen, diese dreht ihr wieder um und wartet die Minute ab.
    </p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
