<p>s3teil1 works!</p>
<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Als ihr dieses Mal wach werdet seht ihr erstmal nichts Ungewöhnliches. Ihr
    liegt auf einem großen, unbewachsenen Feld, an dem ein kleiner Schotterweg
    vorbeiführt, der wohl normalerweise von Treckkern genutzt wird. In der Ferne
    könnt ihr einen Wald erkennen, neben dem ein Bauernhof mit verschiedenen
    Tieren und Wesen zu sehen ist. Ein bisschen skurril kommt euch das alles
    schon vor und ihr wolltet jetzt eigentlich wieder zuhause sein. Also rafft
    ihr euch auf und bewegt euch auf den Weg zu. Auf dem Weg angekommen fällt
    euch ein kleines Schild auf. Es ist umrandet mit zwei Symbolen: ein
    laufender Mensch und ein Planet. In der Mitte vom Schild sind ein
    Morsealphabet und fünf verschiedene Gleichungen zu sehen.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-aufgaben
      [showNextButton]="true"
      link="/a3aufgabe1"
    ></app-navigation-aufgaben>
  </div>
</div>
