<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Nachdem ihr glücklicherweise nur 200€ Strafe zahlen musstet, geht ihr auf
    die Suche nach der Bar „Zum blauen See“. Ihr sucht vergebens nach dem Lokal
    bis euch zwei höfliche Passanten den Weg zeigen. Angekommen tretet ihr in
    das sehr heruntergekommene und von außen gruselig aussehende Gasthaus
    ein.Die Wirtin rückt für euch Tische zusammen, damit es auch für euch alle
    reicht.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a3aufgabe5"
    ></app-navigation-story>
  </div>
</div>
