<h1>Aufgabe 4</h1>

<div class="Aufgabentext">
  Um die Tür des Raumschiffs zu öffnen, muss ein QR Code gescannt werden. Der
  Code, welcher auf der Rückseite des Funkgeräts zu erkennen ist, ist jedoch
  nicht vollständig, um das Betreten des Raumschiffs vor Fremden zu schützen.
  Daher sind 5 Gleichungen an der Tür des Raumschiffs eingekratzt. Um den QR
  Code komplett und funktionstüchtig zu machen, müssen die Ergebnisse für x, der
  5 Gleichungen, im fehlenden Teil des QR Codes schwarz ausgemalt werden.
</div>
<div class = "Parent">
  <div class="Bild">
    <img [src]="image" alt="" />
  </div>
  <div class="Eingaben">
    <div class="Eingabe">
      <input type="text" [(ngModel)]="inputWert1" (ngModelChange)="bildW()" placeholder="Lösung 1" />
      <button (click)="pruefen()" hidden>Prüfen</button>
    </div>
    <div class="Eingabe">
      <input type="text" [(ngModel)]="inputWert2" (ngModelChange)="bildW()" placeholder="Lösung 2" />
      <button (click)="pruefen()" hidden>Prüfen</button>
    </div>
    <div class="Eingabe">
      <input type="text" [(ngModel)]="inputWert3" (ngModelChange)="bildW()" placeholder="Lösung 3" />
      <button (click)="pruefen()" hidden>Prüfen</button>
    </div>
    <div class="Eingabe">
      <input type="text" [(ngModel)]="inputWert4" (ngModelChange)="bildW()" placeholder="Lösung 4" />
      <button (click)="bildW()" hidden>Zeichnen</button>
    </div>
    <div class="Eingabe">
      <input type="text" [(ngModel)]="inputWert5"  (ngModelChange)="bildW()" placeholder="Lösung 5" />
      <button (click)="pruefen()">Prüfen</button>
    </div>
  </div>
</div>

<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Setze beide Seiten der Waage in einer Gleichung gleich. Eine Seite der
      Waage entspricht einer Seite der Gleichung.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>Lachen ist/sind x g und Liebe ist 1g. Erweitere deine Gleichung!</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>
      Die Gleichung ist 10x + 3 = 8x + 9, führe die Äquivalenzumformung durch!
    </p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
