<h1>Aufgabe 4</h1>

<div class="Aufgabentext">
  Um die Tür des Raumschiffs zu öffnen, muss ein QR Code gescannt werden. Der
  Code, welcher auf der Rückseite des Funkgeräts zu erkennen ist, ist jedoch
  nicht vollständig, um das Betreten des Raumschiffs vor Fremden zu schützen.
  Daher sind 5 Gleichungen an der Tür des Raumschiffs eingekratzt. Um den QR
  Code komplett und funktionstüchtig zu machen, müssen die Ergebnisse für x, der
  5 Gleichungen, im fehlenden Teil des QR Codes schwarz ausgemalt werden.
</div>
<div class="Parent">
  <div class="container">
    <div class="angabenbild">
      <img src="../../../assets/images/W2_A4_Angabe.png" alt="" />
    </div>
    <div class="Eingaben">
      <div class="Eingabe">
        <input
          type="text"
          [(ngModel)]="inputWert1"
          (ngModelChange)="bildW()"
          placeholder="Lösung 1"
        />
        <button (click)="pruefen()" hidden>Prüfen</button>
      </div>
      <div class="Eingabe">
        <input
          type="text"
          [(ngModel)]="inputWert2"
          (ngModelChange)="bildW()"
          placeholder="Lösung 2"
        />
        <button (click)="pruefen()" hidden>Prüfen</button>
      </div>
      <div class="Eingabe">
        <input
          type="text"
          [(ngModel)]="inputWert3"
          (ngModelChange)="bildW()"
          placeholder="Lösung 3"
        />
        <button (click)="pruefen()" hidden>Prüfen</button>
      </div>
      <div class="Eingabe">
        <input
          type="text"
          [(ngModel)]="inputWert4"
          (ngModelChange)="bildW()"
          placeholder="Lösung 4"
        />
        <button (click)="bildW()" hidden>Zeichnen</button>
      </div>
      <div class="Eingabe">
        <input
          type="text"
          [(ngModel)]="inputWert5"
          (ngModelChange)="bildW()"
          placeholder="Lösung 5"
        />
      </div>
      <div class="pruefen">
        <button (click)="pruefen()">Prüfen</button>
      </div>
    </div>
    <div class="Bild">
      <img [src]="image" alt="" />
    </div>
  </div>
</div>

<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Bewegt immer alle Teile, die ein x enthalten auf eine Seite und die Teile
      ohne x auf die andere Seite.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>Entfernt nun noch Faktoren damit nur <br />x = … dasteht.</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>x1 = 7, x2 = 4, x3 = 5, x4 = 1, x5 = 9</p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
