.Aufgabentext {
  width: 80%;
  margin: 1rem 10%;
  text-align: justify;
}
h1 {
  text-align: center;
}
.Parent{
  display:flex;
  justify-content: center;
}

.Eingaben{
  display:inline;
}

.Bild {
  width: 30%;
  text-align: center;
  img {
    width: 85%;
    height: auto;
  }
}


.Eingabe {
  flex:1;
  justify-content: center;
  input {
    text-align: center;
    width: 75%;
    height:100%;
  }
  button {
    width: 25%;
    margin-left: 25%;
    margin-top: 10%;
    height:100%
  }
  width: 100%;
  height: 1.5rem;
  margin: 1rem;
}

.hinweisContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hinweis {
  display: none;
  border-radius: 0.3rem;
  background: rgb(8, 5, 15);
  color: white;
  padding: 1rem 0%;
  width: 25%;
  text-align: center;
}

.show {
  display: block;
}