<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Ihr knackt das Schloss. Innen ist das Fach mit Lucie beschriftet, das alles
    gehört wohl ihr. Aus Interesse und weil es euch Spaß macht, wühlt ihr in
    ihren Sachen herum. Wow, neben 3 Millionen Mathe Büchern findet ihr noch
    eine Schatztruhe, mit tausenden komischen Münzen. Scheint außerirdisches
    Geld zu sein… Ihr zählt zusammen, das sind 111 Einheiten, nehmen wir mal an
    111 €. Eigentlich wolltet ihr Lucie ursprünglich nichts antun, aber der
    Blick zu einem Automaten der Essensausgabe und das Gefühl des knurrenden
    Magens treibt euch in den Wahnsinn. Ihr wolltet gerade das Geld mitnehmen,
    als in diesem Moment ein Mädchen um die Ecke kommt und euch anschreit: „Was
    macht ihr da an meinem Fach?“ Ihr starrt euch schweigend an und Lucie meinte
    nach einer Weile plötzlich: „Ich habe von euch geträumt! Ihr seid doch die
    Retter unserer Welt! Ja das seid ihr!“ Vor lauter Aufregung läuft sie im
    Gang auf und wieder ab und versucht, sich zu beruhigen. Sie meint danach
    todernst: „Unsere verfluchte und verzauberte Welt wird bald untergehen, das
    hat mir mein Traum gesagt. Nur ihr könnt sie retten. Bitte findet das Portal
    und verlasst sofort die Welt, dann seid ihr in Sicherheit und wir
    wahrscheinlich auch. Wenn ihr mir helft, dann gebe ich 11 €, bitte!“ Na gut,
    so freundlich wie sie schaut, da geht euch das Herz auf… Ihr nehmt die 11 €
    und sucht nach dem Portal. Na ja, eigentlich stillt ihr erstmals den Hunger,
    nachdem Lucie gegangen ist.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-aufgaben
      [showNextButton]="true"
      link="/a1aufgabe4"
    ></app-navigation-aufgaben>
  </div>
</div>
