<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Auf dem Revier werdet ihr einzeln befragt. Die Polizisten möchten wissen wer
    das Auto geparkt und gestohlen hat. Wenn alle von euch schweigen, wird euch
    je eine Strafe von 100€ auferlegt. Verrät eine Person die andere(n) Person,
    müssen die Verratenen eine Strafe von 400€ bezahlen und der Verräter kommt
    ohne Strafe davon. Wenn sich allerdings alle Personen gegenseitig verraten,
    müssen sie alle 400 € bezahlen. Eure Mitspieler hatten keine Gelegenheit
    sich abzuspre-chen. Sie wissen, dass am Ende das gesamte Team für ihre
    Strafe aufkommen wird und möchten des-halb ihre gesamte Strafzahlung so
    gering wie möglich halten. Wie sollten sich die Mitspieler darauf-hin
    entscheiden!
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a3aufgabe4"
    ></app-navigation-story>
  </div>
</div>
