<div class="hintergrund">
  <div class="bild">
    <img src="../../assets/images/EscapeGame.jpg" alt="" />
  </div>

  <div id="ueberuns">
    <p>
      Wir sind ein P-Seminar der Mathematik des Louise-Schroeder-Gymnasiums
      München aus dem Jahr 2021-2023.
    </p>
    <p>
      Im Laufe unseres P-Seminars haben wir ein Escape-Game entwickelt, welches
      fast alle Themenbereiche des bayerischen Lehrplans der Mathematik in der
      7. Klasse abdeckt. Des Weiteren dient es zur Wiederholung und Vertiefung
      des Erlernten. Das Escape-Game ist auf das Anforderungsniveau der
      Schüler*innen angepasst und interessant aufbereitet. Alle Aufgaben sind in
      eine spannende Geschichte aus Paralleluniversien verwickelt, die bestimmt
      allen gefallen wird.
    </p>
    <p>Viel Spaß beim Spielen unseres mathematischen Escape-Games</p>
  </div>
</div>
