body {
  background-color: rgba(#000000, 0.05);
}
#Bild1 {
  width: 100%;
  text-align: center;
  padding-top: 2vh;
  height: 80%;
}

#ueberuns {
  padding-top: 1px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  padding-bottom: 3rem;
  height: 20%;
}
