<div class="aufgabenContainer">
  <h1>Wie alles begann...</h1>
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor
    nesciunt accusantium unde harum dolorem, voluptatum quasi minima? Vel
    maiores, enim labore beatae facere culpa magnam veniam optio quos alias?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo blanditiis
    harum, culpa exercitationem et similique cupiditate quidem nulla a sunt
    sapiente facere hic voluptatum id, aperiam repellendus, impedit obcaecati.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, est at
    expedita, necessitatibus id dolorum sequi hic optio, nihil commodi odio ex
    dignissimos consequuntur aliquam harum adipisci obcaecati nobis nemo? Lorem
    ipsum, dolor sit amet consectetur adipisicing elit. Deserunt maiores, quod
    voluptatum dolorem magnam blanditiis! Consequatur debitis nobis numquam
    animi, illum nesciunt atque eaque magni sint quia, saepe assumenda id. Lorem
    ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit architecto
    perferendis fugiat delectus maxime dolor error, cupiditate ab vero nam
    provident eveniet quisquam quod unde ducimus asperiores, in maiores
    quibusdam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta
    in distinctio voluptatibus magnam expedita earum mollitia voluptatem rem ab
    quaerat, aliquid sit minima corporis nam eveniet repellendus eius error
    soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
    id repellendus iure quasi facere neque culpa exercitationem possimus
    dolorum! Necessitatibus adipisci dicta nulla assumenda delectus facilis
    numquam deserunt error nesciunt. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Adipisci incidunt ex fugit a dolorum, odit velit
    accusantium ducimus repudiandae laudantium obcaecati et rem reprehenderit
    quam enim suscipit pariatur iure dolor! Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Rerum non, ex consectetur laborum aliquid
    debitis error, magni explicabo, modi exercitationem reiciendis ut atque
    corporis vero molestiae impedit quibusdam sequi veniam! Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Vitae adipisci quidem velit, aut
    voluptas iste porro? Minus vel aperiam tenetur dolore ab dignissimos
    doloribus magnam mollitia, adipisci expedita doloremque cupiditate. Lorem
    ipsum dolor sit, amet consectetur adipisicing elit. Alias non eveniet magni
    beatae quae illo, accusamus veniam nemo vel dolores nulla omnis, nam quod
    debitis mollitia fuga error unde quisquam? Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Explicabo facilis natus a illo asperiores?
    Iusto tenetur, laboriosam accusantium ea expedita, doloremque, in dicta
    ullam aliquam sapiente nisi et dolore commodi! Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Nesciunt facilis accusantium labore est? Non
    repudiandae vero ipsam soluta earum nisi? Sequi id delectus exercitationem,
    placeat laborum doloremque quae adipisci maxime.
  </div>
  <div class="navigation">
    <button (click)="back()">Zurück</button>
    <button (click)="weiter()">Weiter</button>
  </div>
</div>
