<h1>Aufgabe 2</h1>
<div class="Bild">
  <img src="\assets\Beispiel.jpg" alt="" />
</div>

<div class="Aufgabentext">
  Das Passwort besteht aus 2 Ziffern X und Y und zeigt das Muster XYXY.<br />
  Y ist dabei zweimal so groß wie X und die Quersumme des Codes ist das 12fache
  der kleinsten Primzahl. Wie lautet das Passwort?
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Die kleinste Primzahl(= Zahl die größer als 1 ist und nur durch 1 und sich
      selbst teilbar ist) ist 2
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>Die Quersumme ist X + Y + X + Y = 2X + 2Y = 12 · 2 = 24</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>Ersetze Y durch 2X und löse die Gleichung nach X auf</p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
