<h1>Aufgabe 5</h1>
<div class="Aufgabentext">
  In diesem Universum werden die Koordinaten als vier Zahlen angegeben. Die
  Koordinaten müssen in der richtigen Reihenfolge angegeben werden. Um die
  Zahlen herauszufinden, müsst ihr alle Gleichungen lösen und die vier Zahlen
  bestimmen.
</div>
<div class="Bild">
  <img src="\assets\images\W2_A5_Angabe.png" alt="" />
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert1" placeholder="Lösung a" />
  <input type="text" [(ngModel)]="inputWert2" placeholder="Lösung b" />
  <input type="text" [(ngModel)]="inputWert3" placeholder="Lösung c" />
  <input type="text" [(ngModel)]="inputWert4" placeholder="Lösung d" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Fangt mit Gleichung 3 an. Geht dann immer zu der Gleichung, wo eine
      Variable mehr vorhanden ist. Setzt die Variablen schon ein, wenn ihr sie
      berechnet habt.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>Geht beim Umformen wie in Rätsel 4 vor.</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>Lösung: a = 19, b = 8, c = 3, d = 15</p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
