<h1>Aufgabe 2</h1>
<div class="Bild">
  <img src="\assets\Beispiel.jpg" alt="" />
</div>

<div class="Aufgabentext">
  In 6 Jahren ist ETs Mutter dreimal so alt wie er und seine Oma neunmal so alt.
  Die Summe ihrer drei Alter wird dann genau 25987 sein. Wie alt ist ET jetzt
  gerade?
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Rechne für die Zeit nach 6 Jahren, da ist ET x Jahre alt. Wie alt sind
      dann Mama und Oma (mit x ausgedrückt)? Wenn du x berechnet hast, vergesse
      nicht, dass ET erst in 6 Jahren x Jahre alt ist. Wie alt ist er dann
      jetzt?
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>
      Addiere die Teilgleichungen (ETs, Mamas und Omas Alter) miteinander, setze
      sie gleich 25987 löse sie auf.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>
      Wenn ET in 6 Jahren x Jahre alt ist, ist seine Mutter 3x Jahre alt und
      seine Oma 9x Jahre. -> x + 3x + 9x = 25987, für das Ergebnis musst du noch
      x - 6 rechnen.
    </p>
  </div>
</div>
<app-navigation-aufgaben
  [showNextButton]="false"
  [link]=""
></app-navigation-aufgaben>
