<h1>Aufgabe 1</h1>

<div class="Aufgabentext">
  Löst die 5 Gleichungen nach x auf und findet so die geheime Botschaft heraus,
  die der Verfasser verbreiten wollte. Hinweis: Wenn x zweistellig ist dann lang
  und wenn x einstellig ist dann kurz.<br /><br />
  <div class="Bild">
    <img src="\assets\images\W3_A1_Angabe.png" alt="" />
    <img src="\assets\images\W3_A1_Morsecode.jpg" alt="" />
  </div>
</div>
<div class="Eingabe">
  <input type="text" [(ngModel)]="inputWert" placeholder="Lösung" />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Bringt erst alle x (inklusive Faktor) auf eine und alle Zahlen auf die
      andere Seite
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>
      Löst dann nach x auf, indem ihr auf beiden Seiten durch den Faktor teilt.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>
      x1 = 7 --> kurz<br />

      x2 = 8 --> kurz<br />

      x3 = 1 --> kurz x4 = 8 --> kurz x5 = 5 --> kurz
    </p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
