<div class="background">
  <div class="story">
    <H1 *ngIf="finished() == false"> Wähle eine Storyline: </H1>
  </div>
  <div class="Storycontainer">
    <button class="story1" (click)="story1()" *ngIf="story1Aktiviert()">
      <h3>Story 1</h3>
      <p>Du fliegst durch ein blaues Wurmloch.</p>
    </button>
    <button class="story2" (click)="story2()" *ngIf="story2Aktiviert()">
      <h3>Story 2</h3>
      <p>Du fliegst durch ein rotes Wurmloch.</p>
    </button>
    <button class="story3" (click)="story3()" *ngIf="story3Aktiviert()">
      <h3>Story 3</h3>
      <p>Du fliegst durch ein grünes Wurmloch.</p>
    </button>
    <button class="ende" (click)="ende()" *ngIf="finished()">
      <p>Ob das wohl das letzte Wurmloch ist?</p>
    </button>
  </div>
</div>
