<div class="aufgabenContainer">
  <audio controls src="\assets\aufnahmenTessa\4_P-Sem_Spiel_2.m4a"></audio>

  <div id="text">
    Der kugelförmige Stein rollt den Hang hinab und ihr betretet, wegen des
    Sauerstoffmangels keuchend, durch den riesigen Eingang die dunkle, kalte
    Höhle in der, zu eurem Glück, die Sauerstoffverhältnisse etwas besser sind.
    Die Höhle ist sehr groß, es scheint allerdings nur einen Ein- und Ausgang zu
    geben. Ihr findet Knochen, die aussehen wie die eines Menschen und daneben
    liegt ein Helm. Am Helm ist ein kleines Funkgerät befestigt. Als Ihr dieses
    versucht zu betätigen ertönt ein lauter mechanischer Ton aus einem Nebenraum
    der Höhle und ein Licht leuchtet auf. Vorsichtig, aber dennoch voller
    Hoffnung geht ihr in den Nebenraum und entdeckt dort ein Raumschiff. Von
    außen scheint dieses einsatzbereit und unbeschädigt zu sein ihr stoßt
    allerdings auf euer nächstes Problem als ihr es betreten wollt: Die Tür ist
    verschlossen.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a2aufgabe5"
    ></app-navigation-story>
  </div>
  <img src="\assets\images\BilderFilip\S2teil4Bild.jpeg" alt="" />
</div>
