<h1>Aufgabe 1</h1>
<div class="Bild">
  <img src="\assets\images\W1_A1_Bild.jpg" alt="" />
</div>

<div class="Aufgabentext">
  Um wie viel Gramm ist das Lachen leichter/schwerer als die Liebe, angenommen
  die Liebe wiegt 1 g und die obige Waage ist ausgeglichen?
</div>
<div class="Eingabe">
  <input
    type="text"
    [(ngModel)]="inputWert"
    (ngModelChange)="eingabefalsch = false"
    [ngClass]="{ falscherWert: eingabefalsch }"
    placeholder="Lösung in Gramm"
  />
  <button (click)="pruefen()">Prüfen</button>
</div>
<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Setze beide Seiten der Waage in einer Gleichung gleich. Lachen ist/sind x
      g und Liebe ist 1g.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>
      Die Gleichung ist: <br />10x + 3 = 8x + 9<br />Führe eine
      Äquivalenzumformung durch!
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Lösung</h3>
    <p>
      10x + 3 = 8x + 9 | − 8x − 3 <br />
      2x = 6 | : 2<br />
      x = 3<br />
      ---------------------<br />
      3g - 1g = 2g
    </p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
