.Aufgabentext {
  width: 80%;
  margin: 1rem 10%;
  text-align: justify;
}
h1 {
  text-align: center;
}

.Bild {
  width: 100%;
  text-align: center;
  img {
    width: 20%;
    height: auto;
  }
}
.falscherWert {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.286);
}
.hinweisbild {
  height: 3rem;
}

.Eingabe {
  display: flex;
  justify-content: space-between;
  input {
    text-align: center;
    width: 75%;
  }
  button {
    width: 25%;
  }
  width: 30%;
  height: 1.5rem;
  margin: 1.5rem 35%;
}
.hinweisContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hinweis {
  display: none;
  border-radius: 0.3rem;
  background: rgb(8, 5, 15);
  color: white;
  padding: 1rem 0%;
  width: 25%;
  text-align: center;
}

.show {
  display: block;
}
