.row {
  display: flex;
  margin-top: 0.5rem;

  input {
    margin: 0;
    margin-right: 0.4rem;
  }
}

.Eingabe {
  display: flex;
  justify-content: space-between;
  input {
    text-align: center;
    width: 75%;
  }
  button {
    width: 25%;
  }
  width: 30%;
  height: 1.5rem;
  margin: 1.5rem 35%;
}

#text {
  background-color: #eceff4;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: justify;
}
.bildtext {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.bildtext2 {
  text-align: center;
}
.Bild1 {
  height: 3rem;
}
.Bild2 {
  height: 3rem;
}
.Bild3 {
  height: 3rem;
}
.Bild4 {
  height: 3rem;
}
.hinweisContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hinweis {
  display: none;
  border-radius: 0.3rem;
  background: rgb(8, 5, 15);
  color: white;
  padding: 1rem 0%;
  width: 25%;
  text-align: center;
}

.show {
  display: block;
}
