<div class="aufgabenContainer">
  <h2>Aufgabe 3</h2>
  <p id="text">
    Um den Würfel in eine Kugel zu verwandeln, stellt ihr zunächst die beiden
    Formeln für das Volumen auf:<br />
    VWürfel = ℎ ×ℎ ×ℎ VKugel = 43 ×𝑟3 × 𝜋<br />Einer von euch stellt sich neben
    den Stein und ist exakt so groß wie der Stein (= 169cm). Da bei der
    Verwandlung kein Teil des Steins verschwinden darf muss das Volumen
    gleichbleiben, somit könnt ihr die zwei Formeln gleichsetzen und nach r
    umstellen. VWürfel = VKugel = 1693= 43 ×𝑟3× 𝜋<br /><br />Hinweis: Um ein
    hoch 3 aufzulösen müsst ihr (im Taschenrechner) vor die Wurzel an die Spitze
    eine 3 schreiben. Natürlich gilt das für beide Seiten der Gleichung. Ihr
    könnt die Zahlen nach dem Komma beim Endergebnis weglassen (aber davor
    runden).
  </p>

  <div>
    <div class="row">
      <input id="0" type="radio" name="i" />
      <label for="1">0</label>
    </div>
    <div class="row">
      <input id="1" type="radio" name="i" />
      <label for="2">1</label>
    </div>
    <div class="row">
      <input id="2" type="radio" name="i" />
      <label for="3">2</label>
    </div>
    <div class="row">
      <input id="3" type="radio" name="i" />
      <label for="4">3</label>
    </div>
  </div>

  <!--
Checkbox für mehrere Richtige Antwortmöglichkeiten
    <div>
    <div class="row">
      <input id="0" type="checkbox" name="i" />
      <label for="1">Option 1</label>
    </div>
    <div class="row">
      <input id="1" type="checkbox" name="i" />
      <label for="2">Option 2</label>
    </div>
    <div class="row">
      <input id="2" type="checkbox" name="i" />
      <label for="3">Option 3</label>
    </div>
    <div class="row">
      <input id="3" type="checkbox" name="i" />
      <label for="4">Option 4</label>
    </div>
  </div>
-->

  <button (click)="pruefen()">Prüfen</button>
</div>

<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>
      Löst die Gleichung nach r auf. Fangt an alle r auf eine Seite zu bekommen
      (und sonst nichts) und zieht dann die 3. Wurzel.
    </p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>𝑟3= 3 × (169)34 × 𝜋</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>
      r muss ungefähr 105cm groß sein damit das Volumen gleichbleibt. (Feld 2
      ist richtig)
    </p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
