<div class="aufgabenContainer">
  <h2>Aufgabe 3</h2>
  <p id="text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia porro
    incidunt, sapiente quasi nulla voluptate aut modi accusamus ipsa, eaque
    maxime quaerat ex. Repellendus commodi excepturi soluta fugiat, repellat
    voluptatem. 1+1 =
  </p>
  <div>
    <div class="row">
      <input id="0" type="radio" name="i" />
      <label for="1">0</label>
    </div>
    <div class="row">
      <input id="1" type="radio" name="i" />
      <label for="2">1</label>
    </div>
    <div class="row">
      <input id="2" type="radio" name="i" />
      <label for="3">2</label>
    </div>
    <div class="row">
      <input id="3" type="radio" name="i" />
      <label for="4">3</label>
    </div>
  </div>

  <!--
Checkbox für mehrere Richtige Antwortmöglichkeiten
    <div>
    <div class="row">
      <input id="0" type="checkbox" name="i" />
      <label for="1">Option 1</label>
    </div>
    <div class="row">
      <input id="1" type="checkbox" name="i" />
      <label for="2">Option 2</label>
    </div>
    <div class="row">
      <input id="2" type="checkbox" name="i" />
      <label for="3">Option 3</label>
    </div>
    <div class="row">
      <input id="3" type="checkbox" name="i" />
      <label for="4">Option 4</label>
    </div>
  </div>
-->

  <button (click)="pruefen()">Prüfen</button>
</div>

<div class="hinweisContainer">
  <div class="hinweis" [ngClass]="getClasses(0)">
    <h3>Hinweis 1</h3>
    <p>2 ist die richtige Lösung.</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(1)">
    <h3>Hinweis 2</h3>
    <p>1 ist die richtige Lösung.</p>
  </div>
  <div class="hinweis" [ngClass]="getClasses(2)">
    <h3>Hinweis 3</h3>
    <p>Jetzt wähl doch endlich das 2. Feld...</p>
  </div>
</div>
<app-navigation-aufgaben [showNextButton]="false"></app-navigation-aufgaben>
