<div class="aufgabenContainer">
  <audio controls src="\assets\aufnahmenTessa\7_P-Sem_Spiel_1.m4a"></audio>

  <div id="text">
    Endlich befreit von der Gefahr, alle von euch sind froh - außer Lucie. Sie
    ist wütend, da ihr noch nicht nach dem Portal sucht. Eure Ausrede wollte sie
    sich auch nicht anhören. Stattdessen führt sie euch unter ständigem
    Schimpfen vor einen Roboter Robi. Sie meinte, er wäre manchmal ein schlauer
    Trickser, aber leider kennt nur er den Weg zum Portal. Nachdem Lucie ein
    Rechenduell gegen Robi gewann, führt er euch enttäuscht zum Ausgang. Als ihr
    weggeschickt wurdet, meint ihr, in seinen Augen etwas Böses zu erkennen. War
    er etwa der Verschwörer der Welt? Mit diesen Gedanken verlasst ihr die Welt
    und werdet weitergeschickt. Kommt ihr jetzt zuhause an?
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/spiel-beitreten"
    ></app-navigation-story>
  </div>
</div>
