<div class="aufgabenContainer">
  <audio controls src="\assets\aufnahmenTessa\5_P-Sem_Spiel_2.m4a"></audio>

  <div id="text">
    Die Tür öffnet sich und ihr geht einer nach dem anderen in
     das Raumschiff hinein. Hier sind genug Sauerstofflaschen 
     vorhanden und ihr könnt normal atmen. Es beinhaltet eine 
     kleine Küche, in der ihr noch trinkbares Wasser findet, 
     einen Aufenthaltsraum und ein großes Cockpit. Hier macht 
     ihr eine erschreckende Entdeckung. Der vorherige Pilot ist 
     anscheinend an einem angefangenen Rätsel gescheitert, zu 
     dem überall Aufzeichnungen herumliegen, doch konnte es 
     nicht lösen und ihm ist nach einiger Zeit das Essen 
     ausgegangen. Ihr schaut euch das Rätsel genauer an und 
     erkennt, dass es darum geht Koordinaten herauszufinden. 
     Ihr ahnt sofort, dass es sich um einen möglichen Ausgang 
     aus der Parallelwelt handeln könnte und macht euch selbst 
     an das Rätsel.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a2aufgabe5"
    ></app-navigation-story>
  </div>
</div>
