<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Mit den Koordinaten macht ihr euch daran das Schiff zu starten. Zu eurem
    Glück ist dieses funktionstüchtig und das Bedienen unkompliziert. Ohne
    Probleme durchfliegt ihr den Ausgang und legt Kurs in Richtung der
    herausgefundenen Koordinaten. Die Reise dorthin dauert mehrere Stunden. Aus
    weiter Entfernung könnt ihr bereits ein riesiges blau schimmerndes Loch
    erkennen, das einem Portal eurer Fantasie sehr ähnlichsieht. Etwas
    verängstigt nähert ihr euch diesem Loch, blickt ein letztes Mal auf die
    steinige, hügelige Landschaft haltet die Luft an und durchfliegt letztlich
    schreiend das besagte Loch. Alles ist still. Ihr öffnet eure Augen, seht
    euch um und tatsächlich: IHR SEID ZUHAUSE AUF DER ERDE.
  </div>
  <div class="navigation-wrapper">
    <app-navigation-story
      [showNextButton]="true"
      link="/a2aufgabe5"
    ></app-navigation-story>
  </div>
</div>
