<div class="aufgabenContainer">
  <audio controls src="\assets\Never Gonna Give You Up Original.mp3"></audio>

  <div id="text">
    Total gutes Essen, hat trotz des komischen Aussehens geschmeckt. Doch danach
    leidet sofort ein Mitglied von euch an starken Bauchschmerzen. Wurde dieser
    etwa vergiftet? Verzweifelt schaut ihr euch um, keiner kann helfen! Ihr seid
    der Gefahr in dieser Umgebung völlig ausgeliefert, vor allem wenn auch noch
    einer unter euch krank ist. Zum Glück kommt Lucie zufälligerweise wieder
    vorbei. Sie meint, Gegengift zu haben, aber dieses ist zu hoch konzentriert.
    Die Angaben von Lucie lauten wie folgt: 1ml einer Lösung mit einer
    Konzentration von 10% des Gegengifts soll mit Wasser verdünnt werden, bis
    sie nur noch 1% konzentriert ist. Wie viel Wasser braucht ihr?
  </div>
  <div class="navigation-wrapper">
    <app-navigation-aufgaben
      [showNextButton]="true"
      link="/a1aufgabe5"
    ></app-navigation-aufgaben>
  </div>
</div>
