.navigation {
  display: flex;
  justify-content: space-around;
  margin: 2rem 2rem;
  button {
    width: 15%;
    border-style: none;
    padding: 0.5rem;
    background-color: rgb(218, 212, 212);
    border-radius: 7px;
  }
}
